*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background: lightpink;
}
h1{
     text-align: center;
    padding: 20px;
}
button{
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    
}